.grid-container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
    padding: 20px;
    background-color: lightgray;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
}