
.box-1{
    margin: 20px;
    padding: 15px;
    background-color:lightgray;
}
.box-2{
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: lightblue;
}

