/* put your styles here  */
*{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}
.highlight{
    background-color: yellow;
    color: red;
    padding: 10px;
    margin: 10px 0;
}
#unique{
    color: darkgreen;
    background-color: lightblue;
    padding: 15px;
    margin-top: 20px;
}
h2{
    text-align: center;
    color: blue;
    margin-bottom: 15px;
}

p{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
}