
h1,h2{
    color: darkblue;
    text-align: center;
}
  
      

h1+p{
    color: green;
    font-weight: bold;
}

h2~p{
 color: red;
}

button~span{
    font-size: 18px;
    color: purple;
}
        